.theme-violet {
	--primary: 262.1 83.3% 57.8%;
	--primary-foreground: 210 20% 98%;
}

.dark .theme-violet {
	--primary: 263.4 70% 50.4%;
	--primary-foreground: 210 20% 98%;
}

.theme-blue {
	--primary: 204, 70%, 53%;
	--primary-foreground: 210 40% 98%;
}

.dark .theme-blue {
	--primary: 204, 70%, 53%;
	--primary-foreground: 210 40% 98%;
}

.theme-turquoise {
	--primary: 176, 77%, 41%;
	--primary-foreground: 210 40% 98%;
}

.dark .theme-turquoise {
	--primary: 176, 77%, 41%;
	--primary-foreground: 210 40% 98%;
}

.theme-yellow {
	--primary: 48, 89%, 50%;
	--primary-foreground: 210 40% 98%;
}

.dark .theme-yellow {
	--primary: 48, 89%, 50%;
	--primary-foreground: 210 40% 98%;
}

.theme-peach {
	--primary: 17, 94%, 67%;
	--primary-foreground: 210 40% 98%;
}

.dark .theme-peach {
	--primary: 17, 94%, 67%;
	--primary-foreground: 210 40% 98%;
}

.theme-pink {
	--primary: 330.4 81.2% 60.4%;
	--primary-foreground: 210 40% 98%;
}

.dark .theme-pink {
	--primary: 330.4 81.2% 60.4%;
	--primary-foreground: 210 40% 98%;
}

.theme-rose {
	--primary: 340, 82%, 52%;
	--primary-foreground: 210 40% 98%;
}

.dark .theme-rose {
	--primary: 340, 82%, 52%;
	--primary-foreground: 210 40% 98%;
}

.theme-red {
	--primary: 0 72.2% 50.6%;
	--primary-foreground: 210 40% 98%;
}

.dark .theme-red {
	--primary: 0 72.2% 50.6%;
	--primary-foreground: 210 40% 98%;
}
